
@font-face {
    font-family: 'Roboto';
	src: url(font/Roboto-Regular.ttf);
	font-weight: normal;
	font-style: normal;
	}
			
@font-face {
    font-family: 'Roboto';
	src: url(font/Roboto-Bold.ttf);
	font-weight: bold;
	font-style: normal;
	}

body {
	margin: 0;
    padding: 0;
	font-family: Roboto;
	font-size: 20px;
	}

#header {
	height: 100px;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
	
	background-color: #d9d9db;
	border-bottom: 2px solid #3e394d;
	
}

.sloganDiv {
	height: 100px;
	background-color: #d9d9db;
	text-align:center;
}

.logoDiv {
	z-index:10;
	float:left;
	}

.frstHeaderMenuDiv {
	margin-left: 64px;
	margin-right:0;
	
	padding-left: 0;
	padding-right: 0;
    padding-top: 7px;
    padding-bottom: 7px;
	height:80px;
	
	background-color: #d9d9db;
	
	z-index:1;
}

.scndHeaderMenuDiv {
	padding-left: 0;
	padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
	height:70px;
	
	background-color: #3e394d;
	
	z-index:1;
}

.thrdHeaderMenuDiv {
	padding-left: 0;
	padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
	height: 60px;
	
	background-color: #d9d9db;
	
	z-index:1;
}

.frthHeaderMenuDiv {
	padding-left: 0;
	padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
	height: 50px;
	
	background-color: #3e394d;
	
	z-index:1;
}

.headerMenuDiv {
	height: 40px;
	padding-left: 300px;
	padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* @media (max-width: 1440px) {
	nav ul {margin-right:0;}
	nav ul li {margin-right:0;}
	p.copyrightP {margin-right:0px;}
	div.footerMenuAddrDiv{margin-right:0px;}
	.headerMenuDiv {padding-left:20px;}
}

@media (min-width: 1440px) {
	nav ul {margin-right:110px;}
	nav ul li {margin-right:50px;}
} */

@media (max-width: 1440px) {
	nav ul {margin-right:110px;}
	nav ul li {margin-right:30px;}
	p.copyrightP {margin-right:100px;}
	div.footerMenuAddrDiv{margin-right:115px;}
	.headerMenuDiv {padding-left:70px;}
}

@media (min-width: 1441px) {
	nav ul {margin-right:150px;}
	nav ul li {margin-right:30px;}
}

@media (max-width: 1100px)  {
	nav ul {margin-right:0;}
	nav ul li {margin-right:0;}
	p.copyrightP {margin-right:0px;}
	div.footerMenuAddrDiv{margin-right:0px;}
	.headerMenuDiv {padding-left:20px;}
}

/* @media (min-width: 1100px) {
	nav ul {margin-right:110px;}
	nav ul li {margin-right:20px;}
} */

nav select {
	height: 20px;
	margin-top:10px;
	margin-bottom:10px;
	margin-right: 10%;
	float:left;
	display: none;
}

nav ul{
	margin-top:0;
	margin-bottom:0;
	padding-left: 0;
	list-style: none;
	float:left;
	}
	
	nav ul li {
	display: inline; 
	}
	
	nav ul a {
	display: inline-block;
	padding:10px;
	border: none;
	text-decoration: none;
	text-transform: uppercase;
	color: #d9d9db;
	text-align: center;
	}
		
.contactsDiv {
	width: 300px;
	height: 100%;
	color: #78d0de;
    text-align: left;
	float:left;
}

.contactsInfDiv {
    padding-left: 24px;
}


.contactsInfDiv a {
	border: none;
	text-decoration: none;
	color: #78d0de;
	text-align: left;
}

.tab {
	margin-left:25%;
	margin-right:25%;
    overflow: hidden;
	color:#d9d9db;
    background-color: #d9d9db;
}


.tab button {
    float: left;
	width:33.3333%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border: 1px solid #3e394d;
	text-transform: uppercase;
    background-color: inherit;
}


.tab button:hover {
    background-color: #d9d9db;
}


.tab button.active {
    background-color: #3e394d;
    color: #d9d9db;
}


.tabcontent {
	margin-left:10px;
	margin-right:10px;
    display: none;
    padding: 6px 12px;
    border: 2px solid #3e394d;
}

#footer {
	padding: 10px;
	height: 100px;
	box-sizing: border-box;
	
	border-top: 2px solid #d9d9db;
	background-color: #3e394d;
	color: #d9d9db;
}

.copyrightP { 
	float:left;
	height:50px;
	
	margin-right:320px;
	margin-top:30px;
	margin-bottom:0;
	text-align: center;
}

.footerMenuAddrDiv {
	float:left;
	height: 80px;
	margin-right:170px;
	color: #78d0de;
}

.footerMenuDiv {
	height: 40px;
	padding-left: 25px;
	padding-right: 25px;
}


.footerAddrDiv {
	height: 40px;
	margin-left: 125px;
	margin-right: 125px;
	color: #78d0de;
	border: 2px solid #78d0de;
	box-sizing: border-box;
	text-align: center;
	font-size: 16px;
}

ul.navFooter{
	float:left;
	margin:0;
	padding-left: 0;
	list-style: none;
	display: block; 
	}
	
	.navFooter li {
	display: inline; 
	}
	
	ul.navFooter a {
	display: inline-block;
	padding:5px;
	border: none;
	text-decoration: none;
	color: #d9d9db;
	text-align: center;
	}
	


.linkDiv {
	height:20px;
	width:100%;
	font-size:18px;
	margin-top:20px;
	padding-left:10px;
	}
	
.linkDiv a{
	display: inline-block;
	border: none;
	text-align: left;
	font-weight: bold;
}
.linkDiv a:link    {color: #3e394d; text-decoration:none;}
.linkDiv a:visited {color: #3e394d; text-decoration:none;}
.linkDiv a:hover   {color: #3e394d; text-decoration:underline;}
.linkDiv a:active  {color: #3e394d; text-decoration:underline;}

