body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 18px;
}

#header {
    height: 100px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #d9d9db;
    border-bottom: 2px solid #3e394d;
}

.sloganDiv {
    height: 100px;
    /* background-color: #d9d9db; */
    text-align: center;
}

.logoDiv {
    width: 96px;
    height: 95px;
    z-index: 10;
    float: left;
}

.logoDiv img {
    width: 100%;
    height: 100%;
}

.frstHeaderMenuDiv {
    margin-left: 64px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 80px;
    background-color: #d9d9db;
    z-index: 1;
}

.scndHeaderMenuDiv {
    padding-left: 0;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 70px;
    background-color: #3e394d;
    z-index: 1;
}

.thrdHeaderMenuDiv {
    padding-left: 0;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 60px;
    background-color: #d9d9db;
    z-index: 1;
}

.frthHeaderMenuDiv {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px;
    background-color: #3e394d;
    z-index: 1;
}

.headerMenuDiv {
    height: 50px;
    padding-left: 32px;
    padding-right: 220px;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px solid transparent;
}

.dropElement{}

.dropbtn {
    width: 150px;
    height: 55px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 10px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    background-color: #3e394d;
    border: 2px solid #78d0de;
    color: #78d0de;
    text-transform: uppercase;
}

img.dropElement {
    width: 25px;
    height: 25px;
    margin-top: 3px;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */

.dropdown {
    width: 200px;
    position: relative;
    display: inline-block;
    display: none;
}


/* Выпадающее содержимое (скрыто по умолчанию) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Ссылки внутри выпадающего списка */

.dropdown-content a,#extraDropDownFooter a {
    color: #3e394d;
    padding: 12px 16px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
}


/* Изменение цвета выпадающих ссылок при наведении курсора */

.dropdown-content a:hover,#extraDropDownFooter a:hover {
    background-color: #d9d9db;
}


/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */

.show {
    display: block;
}

#dropdownExtra,#dropdownExtraFooter{
    width:100px;
    display: inline-block;
}

#extraDropDown,#extraDropDownFooter {
    left: -50px;
}

#extraDropDownFooter{
    top:-115px;
}


#headerMobile {
    font-size: 28px;
    display: none;
}

.mobileHeaderRequestDiv {
    width: 400px;
    height: 30px;
}

.mobileHeaderPhoneDiv {
    width: 300px;
    height: 30px;
}

.mobileHeaderEmailDiv {
    width: 250px;
    height: 30px;
}

#headerMobile .contactsIconDiv {
    width: 30px;
    height: 30px;
}

#footer {
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 165px;
    padding-right: 250px;
    font-size: 14px;
    border-top: 2px solid #d9d9db;
    background-color: #3e394d;
    color: #d9d9db;
}

.navDiv{margin: 0 auto;}

.navDiv ul {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 0;
    list-style: none;
}

.contactsDiv {
    position: absolute;
    right: 0;
    margin-top: -46px;
    margin-right: 30px;
    text-align: left;
    color: #78d0de;
}

.contactsDiv.footerContactsDiv {
    margin-top: -80px;
}

.navDiv ul li {
    margin-right: 10px;
    display: inline;
}

.navDiv ul a, .drpDwnDiv {
    display: inline-block;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #d9d9db;
    text-align: center;
    cursor: pointer;
}

.drpDwnDiv {
    width: 77px;
    height: 24px;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    text-transform: none;
}

.contactsDivScnd {
    width: 100%;
    height: 24px;
    margin-bottom: 3px;
}

.contactsIconDiv {
    float: left;
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 5px;
}

.contactsIconDiv img {
    width: 100%;
    height: 100%;
}

.contactsInfDiv {
    float: left;
    color: #78d0de;
}

.contactsInfDiv a {
    border: none;
    text-decoration: none;
    color: #78d0de;
    text-align: left;
}

.tab {
    margin-left: 25%;
    margin-right: 25%;
    overflow: hidden;
    color: #d9d9db;
    background-color: #d9d9db;
}

.tab button {
    float: left;
    width: 25%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #3e394d;
    color: #3e394d;
    background-color: inherit;
}

.tab button:hover {
    background-color: #d9d9db;
}

.tab button.active {
    background-color: #3e394d;
    color: #d9d9db;
}

.tabcontent{
    height: 422px;
    margin-left: 10px;
    margin-right: 10px;
    display: none;
}

.propertySearchTab {
    width: 1000px;
    height: 1300px;
    border: 2px solid #3e394d;
    border-bottom: none;
    margin: 0 auto;
}

.servicesDiv {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    border: 2px solid #3e394d;
    border-bottom: none;
}

.serviceDiv {
    width: 200px;
    height: 200px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding: 0 20px;
}

.serviceDiv a img {
    width: 106px;
    height: 106px;
}

.serviceDiv a {
    margin: 5px 0 10px 0;
}

.serviceDiv a:link {
    color: #3e394d;
    text-decoration: none;
}

.serviceDiv a:visited {
    color: #3e394d;
    text-decoration: none;
}

.serviceDiv a:hover {
    color: #3e394d;
    text-decoration: underline;
}

.serviceDiv a:active {
    color: #3e394d;
    text-decoration: underline;
}

.copyrightP {
    width:155px;
    height: 30px;
    position: absolute;
    left:0;
    margin:0;
    margin-left: 10px;
    margin-top: 30px;
    text-align: center;
}

.footerMenuAddrDiv {
    height: 80px;
    margin: 0 auto;
    color: #78d0de;
}

.footerAddrDiv {
    height: 40px;
    width:250px;
    margin:0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footerAddrDiv .contactsIconDiv {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.footerAddrDivText {
    float: left;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #78d0de;
    border: 2px solid #78d0de;
    box-sizing: border-box;
    text-align: center;
}

ul.navDivFooter {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.navDivFooter li {
    display: inline;
}

ul.navDivFooter a {
    display: inline-block;
    padding: 5px;
    border: none;
    text-decoration: none;
    color: #d9d9db;
    text-align: center;
}

.linkDiv {
    height: 20px;
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
    padding-left: 10px;
}

.linkDiv a {
    display: inline-block;
    border: none;
    text-align: left;
    font-weight: bold;
}

.linkDiv a:link {
    color: #3e394d;
    text-decoration: none;
}

.linkDiv a:visited {
    color: #3e394d;
    text-decoration: none;
}

.linkDiv a:hover {
    color: #3e394d;
    text-decoration: underline;
}

.linkDiv a:active {
    color: #3e394d;
    text-decoration: underline;
}

@media (min-width: 960px) {
    .frstHeaderMenuDiv,
    .scndHeaderMenuDiv,
    .thrdHeaderMenuDiv,
    .frthHeaderMenuDiv,
    .navDiv ul,
    ul.navDivFooter {
        display: none;
    }

    body {
        font-size: 22px;
    }

    #header {
        height: 450px;
        background-color: #3e394d;
    }

    #headerMobile {
        display: block;
        margin: 10px auto;
    }

    .logoDiv {
        margin: 10px auto;
        margin-bottom: 25px;
        float: none;
        height: 200px;
        width: 200px;
    }

    .dropdown {
        margin-top: 35px;
        margin-bottom: 0;
        margin-right: auto;
        margin-left: auto;
        display: block;
        font-size: 22px;
    }

    #footer {
        font-size: 22px;
        padding-left: 225px;
        padding-right: 320px;
    }

    .copyrightP {
        width: 220px;
    }

    .footerMenuAddrDiv {
        width:350px;
        margin-top:15px;
    }

    .footerAddrDiv {
        width:350px;
    }

    .contactsDiv.footerContactsDiv {
        margin-top: -95px;
    }
}

@media (min-width: 1024px) {
    #headerMobile,.dropdown {
        display: none;
    }
    .frstHeaderMenuDiv,
    .scndHeaderMenuDiv,
    .thrdHeaderMenuDiv,
    .frthHeaderMenuDiv,
    .navDiv ul,
    ul.navDivFooter,
    .footerMenuDiv {
        display: block;
    }
    
    body {
        font-size: 18px;
    }

    #header {
        height: 100px;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: #d9d9db;
        border-bottom: 2px solid #3e394d;
        font-size: 14px;
    }

    .headerMenuDiv {
        padding-right: 200px;
    }

    .logoDiv {
        width: 96px;
        height: 95px;
        margin:0;
        z-index: 10;
        float: left;
    }

    .navDiv {
        width:650px;
        margin-top: 15px;
    }

    .contactsDiv { 
        margin-top: -35px;
    }

    #footer {
        font-size: 14px;
        padding-right: 225px;
        padding-left: 165px;
    }

    .copyrightP {
        width: 155px;
    }

    .footerMenuAddrDiv {
        width:590px;
        margin-top:0;
    }
    
    .contactsDiv.footerContactsDiv {
        margin-top: -80px;
    }
}

@media (min-width: 1280px) {
    body {
        font-size: 20px;
    }

    #header{ 
        font-size: 16px;
    }
    
    .headerMenuDiv {
        padding-right: 225px;
    }

    .navDiv{
        width:760px;
        margin-top: 15px;
    }

    .navDiv ul li {
        margin-right: 15px;
    }

    .contactsDiv { 
        margin-top: -37px;
    }

    .tablinks {
        height: 45px;
    }

    #footer {
        font-size: 16px;
        padding-left: 195px;
        padding-right: 250px;
    }

    .copyrightP {
        width: 185px;
    }
    
    .footerMenuAddrDiv {
        width:650px;
    }
    
    .footerAddrDiv {
        width:280px;
    }
}

@media (min-width: 1366px) {
    .tablinks {
        height: 45px;
    }
    
    #header{ 
        font-size: 18px;
    }
    
    .headerMenuDiv {
        padding-right: 250px;
    }

    .navDiv{
        width:850px;
    }

    .navDiv ul li {
        margin-right: 15px;
    }

    .contactsDiv { 
        margin-top: -40px;
    }

    .tablinks {
        height: 45px;
    }

    #footer {
        font-size: 18px;
        padding-left: 195px;
        padding-right: 270px;
    }

    .copyrightP {
        width: 185px;
    }
    
    .footerMenuAddrDiv {
        width:720px;
    }
    
    .footerAddrDiv {
        width:300px;
    }
}


@media (min-width: 1536px) {
    
    #header{ 
        font-size: 19px;
    }
    
    .headerMenuDiv {
        padding-right: 260px;
    }

    .navDiv{
        width:920px;
        margin-top: 14px;
    }

    .navDiv ul li {
        margin-right: 20px;
    }

    .contactsDiv { 
        margin-top: -41px;
    }

    .tablinks {
        height: 45px;
    }

    #footer {
        font-size: 19px;
        padding-left: 195px;
        padding-right: 280px;
    }

    .copyrightP {
        width: 185px;
    }
    
    .footerMenuAddrDiv {
        width:780px;
    }
    
    .footerAddrDiv {
        width:320px;
    }
}

@media (min-width: 1920px) {
    
    #header{ 
        font-size: 22px;
    }
    
    .headerMenuDiv {
        padding-right: 300px;
    }

    .navDiv{
        width:1100px;
        margin-top: 10px;
    }

    .navDiv ul li {
        margin-right: 30px;
    }

    .contactsDiv { 
        margin-top: -40px;
    }

    .tablinks {
        height: 45px;
    }

    #footer {
        font-size: 22px;
        padding-left: 225px;
        padding-right: 320px;
    }

    .copyrightP {
        width: 220px;
    }
    
    .footerMenuAddrDiv {
        width:900px;
    }
    
    .footerAddrDiv {
        width:400px;
    }
}