
.personDiv {
	margin:50px auto;
	height:500px;
	width:802px;
}

.photoDiv {
	height:100%;
	width:375px;
	margin-right:20px;
	float:left;
	background-color: #d9d9db;
	text-align:center;
	border: 1px solid #3e394d;
}

.photoDiv img {
	height:100%;
	width:100%;
}

.infoDiv {
	width:405px;
	margin:0;
	padding-top:10px;
	float:left;
}

.photoDiv h2, .infoDiv h2 {
	margin:0;
	margin-bottom:20px;
	font-weight: bold;
	color: #3e394d;
	font-size:20px;
}

.posDiv {
	margin:0;
	margin-bottom:40px;
	color: #3e394d;
}

.textDiv {
	width:100%;
	color: #3e394d;
	font-size:18px;
}