@media (max-width: 1440px) {
	table.slimTable{display:table}
	table.normTable{display:none}
}

@media (min-width: 1440px) {
	table.slimTable{display:none}
	table.normTable{display:table}
}



table.slimTable, table.normTable {
	margin:50px auto;
	border: none;
	empty-cells: hide;
}

.cellDiv {
	height:320px;
	margin-right:40px;
	margin-bottom:40px;
}

.cellPhotoDiv {
	height:100%;
	width:240px;
	margin-right:10px;
	float:left;
	color: #3e394d;
	background-color: #d9d9db;
	text-align:center;
	border: 1px solid #3e394d;
	box-sizing: border-box;
}

.smallInfoDiv {
	float:left;
}

.smallInfoDiv h2{
	margin:0;
	font-weight: bold;
	color: #3e394d;
	font-size:20px;
}

.jobDiv {
	margin:0;
	margin-top:30px;
	margin-bottom:190px;
	font-size:18px;
	color: #3e394d;
}

.smallInfoDiv a {
	display: inline-block;
	width:110px;
	height:30px;
	padding:0;
	margin:0;
	border: none;
}

.smallInfoDiv a:link    {color: #d9d9db; text-decoration:none;}
.smallInfoDiv a:visited {color: #d9d9db; text-decoration:none;}
.smallInfoDiv a:hover   {color: #d9d9db; text-decoration:none;}
.smallInfoDiv a:active  {color: #d9d9db; text-decoration:none;}

.smallInfoDiv a button {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	background-color: #3e394d;
	color: #d9d9db;
	font-size:18px;
	border: none;
}
